{{ define "content" }}
<div class="babyname-image">
  <img src="/static/{{ .Image }}" alt="{{ .Name }}" class="img-thumbnail">
</div>

<h4 class="babyname-name">{{ .Name }}</h4>

<div class="babyname-response-form">
  <div class="row justify-content-center">
    <div class="col-2">
      <form action="/like" method="POST">
        <input type="hidden" name="name" value="{{ .Name }}">
        <button type="submit" class="btn btn-lg btn-block btn-danger" type="submit">
          <i class="fas fa-heart"></i>
        </button>
      </form>
    </div>
    <div class="col-2">
      <form action="/superlike" method="POST">
        <input type="hidden" name="name" value="{{ .Name }}">
        <button type="submit" class="btn btn-lg btn-block btn-warning" type="submit">
          <i class="fas fa-star"></i>
        </button>
      </form>
    </div>
    <div class="col-2">
      <form action="/dislike" method="POST">
        <input type="hidden" name="name" value="{{ .Name }}">
        <button type="submit" class="btn btn-lg btn-block btn-dark" type="submit">
          <i class="fas fa-thumbs-down"></i>
        </button>
      </form>
    </div>
  </div>
</div>

{{ if .ProgressPercentage }}
<div class="babyname-progress-bar row justify-content-center">
  <div class="col-4">
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: {{ .ProgressPercentage }}%;" aria-valuenow="{{ .ProgressPercentage }}" aria-valuemin="0" aria-valuemax="100">{{ .ProgressPercentage }}%</div>
    </div>
  </div>
</div>
{{ end }}

{{ if .DislikedCount }}
<p class="babyname-previously-disliked text-muted">
  You have previously disliked this name, disliking it again will remove it from your queue.
</p>
{{ end }}
{{ end }}